#container{font-family: 'Montserrat', sans-serif;} 
.main{overflow: hidden;}

.box{position: relative;top: 40px;width: 50%;height: 500px;margin-left: 25%; background-color: black ;border-radius: 23px}

h1{position: relative;text-align: center;color: white;font-weight: 600;font-size: 50px;top: -400px;font-style: italic}
p{position: relative;text-align: center;color: #dadada;font-size: 35px;padding: 0px 400px; top: -350px}

a.link4{position: relative;color: white}


@media only screen and (max-width:560px) { body { } }

@media only screen and (max-width:980px) { h1 { font-size: 40px} }
@media only screen and (max-width:780px) { h1 { font-size: 30px} }
@media only screen and (max-width:650px) { h1 { font-size: 40px;top: -370px} }
@media only screen and (max-width:560px) { h1 { font-size: 30px} }


@media only screen and (max-width:1190px) { p { font-size: 30px} }
@media only screen and (max-width:1090px) { p { font-size: 27px;padding: 0px 300px} }
@media only screen and (max-width:920px) { p { padding: 0px 250px} }
@media only screen and (max-width:840px) { .link4 { font-size: 20px} }
@media only screen and (max-width:720px) { p { padding: 0px 200px} }
@media only screen and (max-width:650px) { p { padding: 0px 100px;top: -300px} }

@media only screen and (max-width:650px) { .box { width: 70%;margin-left: 15%} }

@media only screen and (max-width:200px) { body { background-color:aqua } }
@media only screen and (max-width:250px) { body { background-color:black } }
@media only screen and (max-width:300px) { body { background-color:chartreuse } }
@media only screen and (max-width:350px) { body { background-color:coral } }
@media only screen and (max-width:400px) { body { background-color:crimson } }
@media only screen and (max-width:450px) { body { background-color:darkblue } }
@media only screen and (max-width:500px) { body { background-color:darkviolet } }
@media only screen and (max-width:550px) { body { background-color:darkorange } }
@media only screen and (max-width:600px) { body { background-color:brown } }
@media only screen and (max-width:650px) { body { background-color:darkgray } }
@media only screen and (max-width:700px) { body { background-color:darkkhaki } }
@media only screen and (max-width:750px) { body { background-color:fuchsia } }
@media only screen and (max-width:800px) { body { background-color:deeppink } }
@media only screen and (max-width:850px) { body { background-color:antiquewhite } }
@media only screen and (max-width:900px) { body { background-color } }
@media only screen and (max-width:950px) { body { background-color } }

